name: Prepare bundles
on:
  push
env:
  DEST_REPO: microapps-test/workspace-microapps-test-bundles
  DEST_REPO_DIR: ../workspace-microapps-bundles-test
  BUNDLES_DIR: bundles
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout source repository
        uses: actions/checkout@v1

      - name: Checkout destination repository
        uses: actions/checkout@v1
        with:
          repository: ${{ env.DEST_REPO }}
          ref: master

      - name: Checkout destination branch
        run: |
          cd "${DEST_REPO_DIR}"
          git checkout "${GITHUB_REF:11}" || git checkout -b "${GITHUB_REF:11}"

      - name: Maven modules cache
        uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build bundlegen
        run: mvn --batch-mode clean package

      - name: Execute bundlegen
        run: |
          rm -rf "${DEST_REPO_DIR}/${BUNDLES_DIR}/"

          main_class="com.citrix.microapps.bundlegen.BundlegenMain"
          link_bundles="https://github.com/${DEST_REPO}/raw/${GITHUB_REF:11}/${BUNDLES_DIR}/"
          args="${BUNDLES_DIR} ${DEST_REPO_DIR}/${BUNDLES_DIR}/ ${link_bundles}"

          mvn --batch-mode exec:java -pl bundlegen -Dexec.mainClass="${main_class}" -Dexec.args="${args}"

      - name: Update readme
        run: |
          cp README.md "${DEST_REPO_DIR}"

      - name: Commit and push generated files
        run: |
          cd "${DEST_REPO_DIR}"
          git add .

          if ! git diff --staged --exit-code > /dev/null
          then
            "${GITHUB_WORKSPACE}/.github/scripts/git_setup.sh" "${DEST_REPO}" "${{ secrets.DEST_REPO_SSH_KEY }}"

            branch_link="https://github.com/${GITHUB_REPOSITORY}/tree/${GITHUB_REF:11}"
            commit_link="https://github.com/${GITHUB_REPOSITORY}/commit/${GITHUB_SHA}"
            message=$(printf "Bundles generated by GitHub action\n\n- ${branch_link}\n- ${commit_link}")

            git commit -a -m "${message}"
            git push --set-upstream origin "${GITHUB_REF:11}"
          else
            echo "Working tree clean. Nothing to commit."
          fi
